In [181]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,accuracy_score,r2_score
from sklearn.model_selection import train_test_split

In [167]:
df=pd.read_csv("Housing.csv")

In [168]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [186]:
print(min(df["bedrooms"]))
print(max(df["bedrooms"]))
print(min(df["bathrooms"]))
print(max(df["bathrooms"]))
print(min(df["area"]))
print(max(df["area"]))

1
6
1
4
1650
16200

In [169]:
cl=["prefarea","mainroad","hotwaterheating","stories","airconditioning","parking","furnishingstatus"]

In [170]:
df.drop(cl,axis=1,inplace=True)

In [171]:
cols=["guestroom","basement"]

In [172]:
for col in cols:
    df[col] = df[col].replace({'yes': 1, 'no': 0})

In [173]:
x=df.drop("price",axis=1)

In [174]:
x

     area  bedrooms  bathrooms  guestroom  basement
0    7420         4          2          0         0
1    8960         4          4          0         0
2    9960         3          2          0         1
3    7500         4          2          0         1
4    7420         4          1          1         1
..    ...       ...        ...        ...       ...
540  3000         2          1          0         1
541  2400         3          1          0         0
542  3620         2          1          0         0
543  2910         3          1          0         0
544  3850         3          1          0         0

[545 rows x 5 columns]

In [175]:
k=x.columns
k

Index(['area', 'bedrooms', 'bathrooms', 'guestroom', 'basement'], dtype='object')

In [176]:
y=df.drop(k,axis=1)
y

        price
0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
..        ...
540   1820000
541   1767150
542   1750000
543   1750000
544   1750000

[545 rows x 1 columns]

In [177]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75)

In [178]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [179]:
y_pred=model.predict(x_test)

In [182]:
mse=r2_score(y_test,y_pred)
print(mse)

0.5526630450146924

In [183]:
import pickle

In [184]:
with open("house","wb") as f:
    pickle.dump(model,f)